@import "../../../styles/settings.scss";
@import "../../../styles/placeholder.scss";
.root {
  box-shadow: 2px 3.464px 6px $menu-bar-box;
  background-color: $menu-bar-bg;

  :global(.container) > :global(.row) {
    height: 84px;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $menu-bar-a-border;
      font-weight: 500;
      letter-spacing: 1px;
      @extend %hover-effects;


      &:hover,
      &.active {
        @extend %hover-effects;

        background-color: $menu-bar-a-active;
        color: $menu-bar-a-active-color;
        border-color: $menu-bar-a-active;
      }

      &.active {
        @extend %hover-effects;

        border-color: $text-color;
      }
    }
  }
}
.menuToggle{
  display: none;
}

@media (max-width: 765px) {
  .root{
    .menu {
      display: none;
    }
    .menuToggle{
      display: block;
    }
    .mdSearch {
      display: flex;
      justify-content: space-between;
      position: relative;
      align-items: center;

      ul{
        list-style: none;
        margin-right: 10px;
        padding: 0;

        li{
          padding: 0 10px;
          text-decoration: none;
          &:hover{
            background-color: $menu-bar-a-active;

            a{
              text-decoration: none;
              color: $menu-bar-a-active-color;
            }
          }
        }
      }
    }
    .dropDownButton {
      position: relative;

      button{

      }
    }
    .mobileDropdown {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      z-index: 1000;
      width: max-content;

    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .root{
    position: relative;
    .menu{
      order: 1;
    }
  }
  .mdSearch{
    position: absolute;
    top: 120%;
  }
}
