@import "../../../styles/settings.scss";
@import "../../../styles/placeholder.scss";
// .root {
// }

.main {
  background-color: $button-main-bg;
  color: $button-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;
  @extend %hover-effects;


  &:not(.noHover):hover {
    @extend %hover-effects;

    color: $button-color !important;
    background-color: $button-main-bg-color-hover;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $color-dark;
  color: $color-dark;
  font-size: 13px;
  line-height: 22px;
  @extend %hover-effects;


  &:not(.noHover):hover {
    @extend %hover-effects;

    background-color: $color-dark;
    color: $button-color;
  }

}
