@import "../../../styles/settings.scss";

.root {
  border: 1px solid $product-search-root-border;
  display: flex;
  height: 45px;
  color: $text-color;

  .category {
    display: flex;
    align-items: center;
    border-right: 1px solid $product-search-root-border;
    position: relative;
  }

  .searchField {
    display: flex;
    align-items: center;

    input {
      border: none;
      padding-left: 10px;
      font-size: 20px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      background: transparent;
      border: none;
      padding: 5px;
      cursor: pointer;
    }
  }
}

.iconLeft {
  color: $product-search-icon;
  margin-left: 10px;
}

.iconRight {
  margin-left: 10px;
}

.dropdown {
  position: relative;
  height: 100%;

  &:hover .dropdownMenu {
    display: block;
  }
}

.dropdownToggle {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font: inherit;
  z-index: 1;
  outline: none !important;
  height: 100% !important;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  width: 100%;

  li {
    button {
      background: none;
      border: none;
      width: 100%;
      text-align: left;
      padding: 8px 12px;
      cursor: pointer;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}
